@model MyProjectShopApp.UI.Models.ProductDetailsModel
@{
    ViewData["Title"] = "Details";
}


    <div class="row">

      


        <div class="col-md-4">

            <img src="~/IMG/@Model.Product.ImgURL"  class="w-100"/>

        </div>

        <div class="col-md-8">

            <h1 class="mb-3">@Model.Product.ProductName</h1>

            @foreach (var item in Model.Categories)
            {
                <a href="#" class="btn btn-link p-0 mb-3">@item.CategoryName</a>
            }

            <div class="mb-3">
                <h4 class="text-primary">@Model.Product.Price</h4>
            </div>
            <form asp-action="AddToCard" asp-controller="Card" method="post">

                <input type="hidden" name="ProductID" value="@Model.Product.ID" />

                <div class="input-group">

                    <input type="number" name="Quantity" value="1" min="1" step="1" class="form-control" style="width:100px" />

                    <div class="input-group-append">

                        <button type="submit" class="btn btn-success  btn-sm float-right"><i class="fas fa-credit-card pl-2"></i>Add To Card</button>

                    </div>

                </div>
            

            </form>



        </div>

    </div>

<div class="row">

    <div class="col-md-12">
        <p class="p-3">

            @Model.Product.ProductDescription

        </p>


    </div>


</div>

