@model MyProjectShopApp.UI.Models.DTO.ProductDTO
@{
    ViewData["Title"] = "CreateProduct";

}

<div class="container mt-5">

    <h1>Create Product</h1>

    <hr />

    @using (Html.BeginForm("CreateProduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label for="ProductName">Product Name</label>
            <input type="text" name="ProductName" value="@Model.ProductName" class="form-control">
            <span asp-validation-for="ProductName" class="text-danger"></span>

        </div>

        <div class="form-group">
            <label for="ProductDescription">ProductDescription</label>
            <textarea class="form-control" name="ProductDescription" id="editor">@Model.ProductDescription</textarea>
            <span asp-validation-for="ProductDescription" class="text-danger"></span>

        </div>

        <div class="form-group">
            <label for="ImgURL">ImgURL</label>
            <input type="file" name="file" />



        </div>

        <div class="form-group">
            <label for="Price">Price</label>
            <input type="text" name="Price" value="@Model.Price" class="form-control">
            <span asp-validation-for="Price" class="text-danger"></span>

        </div>

        <div class="form-group">


            <select multiple name="CategoryID" class="form-control">
                Choose Category

                @foreach (var item in (List<SelectListItem>)ViewBag.deger)
                {


                    <option value="@item.Value">@item.Text</option>



                }

            </select>




            <button type="submit" class="btn btn-success">Add Product</button>


        </div>





    }


</div>

