@model IEnumerable<MyProjectShopApp.Entities.ORM.Entity.Concrete.Product>

@{
    ViewData["Title"] = "ProductList";
}

<h1>Product List</h1>

<p>
    <a asp-action="CreateProduct" asp-controller="Admin" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ImgURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeleteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img src="~/IMG/@item.ImgURL" class="w-50" />
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeleteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                <a asp-action="EditProduct" asp-route-id="@item.ID" class="btn btn-primary btn-sm">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="DeleteProduct" asp-route-id="@item.ID" name="ProductID" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
